img{
margin: 0px;
float : left;
width: 50%;
height: auto;
border: 5px solid #000;
}

#inputer{
float : right;
}

#code{
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 5%;
float : right;
}


@media screen and ( max-width:1000px ){
img{
width: 80%;
 }

#inputer{
float : left;
}

#code{
float : left;
}

}